.editorconfig
.prettierignore
.prettierrc

CHANGELOG.md
commitlint.config.js
cspell.json
eslint.config.mjs
jest.config.ts
tsconfig.json
webpack.config.mjs

.github/
.husky/
.jest/

coverage/
src/
test/
